:root {
  --color-purple: #9a3db6;
  --color-purple-dark: #882aa3;
  --color-green: #98c900;
  --color-green-dark: #81ab00;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  border: 5px solid white;
  background: #888;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header {
  height: 500px;
}
.layanan .item {
  box-shadow: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.layanan .item:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.nav-pills .nav-link {
  color: #000000a6;
  background-color: transparent;
}
.nav-link.active {
  background-color: #000000a6 !important;
}
.wrap-text {
  max-width: 100%;
  max-height: 100%;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.judul {
  -webkit-line-clamp: 2;
}
.text-gray {
  color: var(--color-purple);
}
.text-purple {
  color: var(--color-purple);
}
.border-purple {
  border-color: var(--color-purple) !important;
}
.btn{
  font-size: 14px !important;
}
.btn-purple {
  background-color: var(--color-purple);
  color: white;
}
.btn-purple:hover,
.btn-purple:active {
  background-color: var(--color-purple-dark) !important;
  color: white;
}

.text-green {
  color: var(--color-green);
}
.text-green:hover {
  color: var(--color-green-dark);
}
.border-green {
  border-color: var(--color-green) !important;
}
.border-green:hover {
  border-color: var(--color-green-dark) !important;
}
.btn-green {
  background-color: var(--color-green) !important;
  color: white;
}
.btn-green:hover,
.btn-green:active {
  background-color: var(--color-green-dark) !important;
  color: white;
}
.bookmark {
  max-width: 43px;
  max-height: 43px;
}
.nav-link.side-item {
  display: flex;
  align-items: center;
  height: 51px;
}
.nav-link.side-item i {
  width: 20px;
}
.nav-link.side-item.active {
  background-color: var(--color-purple) !important;
}
.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

.table > .aksi > a {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-devider {
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
}
.modal-devider::after {
  margin-left: 1rem;
  content: "";
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #555;
}
.bg-purple {
  background-color: var(--color-purple);
}
.main .konten {
  padding-left: 15rem;
  transition: 0.5s ease;
}
.main.active .konten {
  padding-left: 0 !important;
}
.main .sidebar {
  left: 0;
  transition: 0.5s ease;
}
.main.active .sidebar {
  left: -15rem;
}
.sampul {
  width: 70px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
#notifContainer {
  visibility: hidden;
  opacity: 0;
  margin-top: 0px;
  transition: 1s ease-in-out;
}
#notifContainer.active {
  visibility: visible;
  opacity: 1;
  margin-top: 25px;
  transition: 0.5s ease-in-out;
}
