:root {
  --color-purple: #9a3db6;
  --color-purple-dark: #882aa3;
  --color-green: #98c900;
  --color-green-dark: #81ab00;
  --color-orange: #fd9843;
  --color-orange-dark: #fd7e14;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  border: 5px solid white;
  background: #888;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header {
  height: 500px;
}
.layanan .item {
  box-shadow: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.layanan .item:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.number {
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background-color: var(--color-purple);
  color: white;
  border-radius: 100%;
}
.nav-pills .nav-link {
  color: #000000a6;
  background-color: transparent;
}
.nav-link.active {
  background-color: #000000a6 !important;
}
.accordion-custom {
  --bs-accordion-border-color: var(--bs-gray-400);
  --bs-accordion-btn-padding-y: 15px;
  --bs-accordion-btn-padding-x: 15px;
  --bs-accordion-btn-icon-width: 1rem;
  --bs-accordion-border-radius: 5px;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-active-bg: white;
  --bs-accordion-body-padding-y: 0px;
}
.accordion-button-custom{
  box-shadow: none !important;
}

.wrap-text {
  max-width: 100%;
  max-height: 100%;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.judul {
  -webkit-line-clamp: 2;
}
.text-gray {
  color: var(--color-purple);
}
.text-purple {
  color: var(--color-purple);
}
.border-purple {
  border-color: var(--color-purple) !important;
}
.btn {
  font-size: 14px !important;
}
.btn-purple {
  background-color: var(--color-purple);
  color: white;
}
.btn-purple:hover,
.btn-purple:active {
  background-color: var(--color-purple-dark) !important;
  color: white;
}
.btn-orange {
  --bs-btn-color: white;
  --bs-btn-bg: var(--color-orange-dark);
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: var(--color-orange);
  --bs-btn-focus-shadow-rgb: 253, 126, 20;
  --bs-btn-active-color: #000;
  --bs-btn-active-border-color: #ffc720;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
}

.text-green {
  color: var(--color-green);
}
.text-green:hover {
  color: var(--color-green-dark);
}
.border-green {
  border-color: var(--color-green) !important;
}
.border-green:hover {
  border-color: var(--color-green-dark) !important;
}
.btn-green {
  background-color: var(--color-green) !important;
  color: white;
}
.btn-green:hover,
.btn-green:active {
  background-color: var(--color-green-dark) !important;
  color: white;
}

.btn:disabled {
  filter: grayscale(0.9);
}

.bookmark {
  max-width: 43px;
  max-height: 43px;
}
.nav-link.side-item {
  display: flex;
  align-items: center;
  height: 40px;
}
.nav-link.side-item i {
  width: 20px;
}
.nav-link.side-item.active {
  background-color: var(--color-purple) !important;
}
.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

.table > .aksi > a {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-devider {
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
}
.modal-devider::after {
  margin-left: 1rem;
  content: "";
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #555;
}
.bg-purple {
  background-color: var(--color-purple);
}
.main .konten {
  padding-left: 15rem;
  transition: 0.5s ease;
}
.main.active .konten {
  padding-left: 0 !important;
}
.main .sidebar {
  left: 0;
  transition: 0.5s ease;
}
.main.active .sidebar {
  left: -15rem;
}
.sampul {
  width: 70px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
#notifContainer {
  visibility: hidden;
  opacity: 0;
  margin-top: 0px;
  transition: 1s ease-in-out;
}
#notifContainer.active {
  visibility: visible;
  opacity: 1;
  margin-top: 25px;
  transition: 0.5s ease-in-out;
}
.status-filter-bar {
  cursor: pointer;
}
.pilih-buku {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
  top: 0;
  right: 0;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: 0.3s ease;
}
.pilih-buku::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.form-check[name="buku[]"]:checked ~ .pilih-buku {
  background-color: var(--color-green);
  border-left: 2px solid var(--color-green);
}
.form-check[name="buku[]"]:hover ~ .pilih-buku {
  background-color: var(--color-green);
  opacity: 0.7;
  border-left: 2px solid var(--color-green);
}
.form-check[name="buku[]"]:checked ~ .pilih-buku::before {
  border: 2px solid white;
  height: 10px;
  margin-bottom: 10px;
  border-radius: 0;
  transform: rotate(-45deg);
  border-top: none;
  border-right: none;
}

.form-check[name="buku[]"]:hover ~ .pilih-buku::before {
  border-color: white;
}
